.preapproval-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preapproval-list-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.preapproval-tasks-completed {
  margin-top: 8px;
}

.button-lender {
  border-style: solid;
  border-radius: 5px;
  background-color: #2b44ff;
}
.offers-lender {
  color: white;
}
