.navbar-main {
  background-color: #efefef;
}

.navbar-root {
  border-radius: 10px;
  background-color: white !important;
}

.navbar-btn-group {
  margin-left: auto !important;
}

.navbar-btn-group > * {
  margin-left: 10px !important;
}

.navbar-btn-group .MuiBadge-dot {
  border: #ffffff 2px solid;
  transform: scale(1.6) translate(50%, -50%) !important;
}

.navbar-notification-popup ul > div {
  outline: none;
}

ul[role="menu"] {
  padding-right: 0 !important;
}

.navbar-notification-popup {
  font-family: "Roboto Slab";
}

.navbar-logo {
  font-family: "Gilroy" !important;
  padding-left: 20px !important;
  font-weight: 900 !important;
  font-size: 25px !important;
  color: linear !important;
  font-size: 72px;
  background: -webkit-linear-gradient(right, #16b2ee, #716ee8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navlink {
  margin-left: 5px !important;
  margin-top: 7px !important;
}
