/* Accordion: Common */

.assist-accordion-heading {
  font-size: 18px !important;
  padding: 9px !important;
  font-family: "Gilroy" !important;
}

.assist-accordion-section-root {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.assist-accordion-details-root {
  display: flex;
  flex-direction: column;
  padding: 10px 30px !important;
  margin-top: -25px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 380px;
}

.assist-accordion-section-heading-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assist-accordion-section-heading-group h1 {
  margin: 0;
  margin-top: -3px;
  font-size: 25px;
}

.assist-accordion-section-heading-group .assist-accordion-section-status {
  opacity: 0.7;
  position: relative;
}

.assist-accordion-section-heading-group
  .assist-accordion-section-status::before {
  content: "â—";
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}

/* Accordion: Task List */

.assist-task-list-item {
  font-family: "Gilroy" !important;
}

.add-task-button {
  font-size: 14px !important;
  padding: 10px 25px !important;
}

.assist-task-list-item .MuiListItemText-primary {
  font-family: "Roboto Slab" !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assist-task-list-item-date {
  font-family: "Gilroy";
  font-size: 15px;
  background: #eeeeee;
  padding: 5px 7px;
  border-radius: 6px;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

.assist-task-list-root {
  position: relative;
}

.assist-task-list-root::before {
  content: "";
  position: absolute;
  height: calc(100% - 32px);
  width: 5px;
  top: 15px;
  left: 21px;

  background-image: linear-gradient(#aaaaaa 33%, transparent 0%);
  background-position: center;
  background-size: 2px 7px;
  background-repeat: repeat-y;
}

.assist-task-list-item-icon {
  background-color: #ffffff;
  padding: 3px 0;
}

.assist-task-completed .assist-task-list-item-label {
  text-decoration: line-through !important;
  opacity: 0.6;
}

.assist-task-completed .assist-task-list-item-date {
  background: var(--color-primary);
  color: #ffffff;
}

.assist-task-list-toggle-show {
  cursor: pointer;
  margin-top: 10px;
  color: var(--color-primary);
  font-size: 16px;
  font-family: "Roboto Slab";
  background: none;
  border: none;
  outline: none;
}

/* Accordion: Documents Grid */

.assist-doc-grid-root {
  margin-top: 20px !important;
}

.assist-doc-grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.assist-doc-grid-item-icon > img {
  height: 50px;
}

.assist-doc-grid-item-text-wrapper {
  margin-left: 20px;
}

.assist-doc-grid-item-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Gilroy";
}

.assist-doc-grid-item-subheading {
  font-size: 14px;
  opacity: 0.6;
}

/* Side Drawer: Add Task */

.assist-add-task-drawer-subheading {
  margin-top: -10px;
}

.assist-add-task-drawer-main {
  margin-top: 40px;
  margin-bottom: 30px;
  flex: 1 1 auto;
}

.assist-add-task-drawer-form-field-group {
  display: flex;
  margin-top: 20px;
}

.assist-add-task-drawer-form-field-group > svg {
  margin-top: 15px;
}

.assist-add-task-drawer-form-field-group > div {
  flex: 1 1 auto;
  margin-left: 15px;
}

.assist-add-task-drawer-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 12px;
  background: #ffffff;
  padding: 20px;

  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
