/* Accordion: Common */

.assist-accordion-heading {
  font-size: 18px !important;
  padding: 8px !important;
  font-family: "Gilroy" !important;
}

.assist-accordion-section-root {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.assist-accordion-details-root {
  display: flex;
  flex-direction: column;
  padding: 15px 30px !important;
  margin-top: -25px;
  margin-bottom: 10px;
  height: 400px;
}

.assist-accordion-section-heading-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assist-accordion-section-heading-group h1 {
  margin: 0;
  margin-top: -3px;
  font-size: 25px;
}

.assist-accordion-section-heading-group .assist-accordion-section-status {
  opacity: 0.7;
  position: relative;
}

.assist-accordion-section-heading-group
  .assist-accordion-section-status::before {
  content: "●";
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}

/* Accordion: Task List */

.assist-task-list-item {
  font-family: "Gilroy" !important;
}

.add-task-button {
  font-size: 14px !important;
  padding: 10px 25px !important;
}

.assist-task-list-item .MuiListItemText-primary {
  font-family: "Roboto Slab" !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assist-task-list-item-date {
  font-family: "Gilroy";
  font-size: 15px;
  background: #eeeeee;
  padding: 5px 7px;
  border-radius: 6px;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

.assist-task-list-root {
  position: relative;
}

.assist-task-list-root::before {
  content: "";
  position: absolute;
  height: calc(100% - 32px);
  width: 5px;
  top: 15px;
  left: 21px;

  background-image: linear-gradient(#aaaaaa 33%, transparent 0%);
  background-position: center;
  background-size: 2px 7px;
  background-repeat: repeat-y;
}

.assist-task-list-item-icon {
  background-color: #ffffff;
  padding: 3px 0;
}

.assist-task-completed .assist-task-list-item-label {
  text-decoration: line-through !important;
  opacity: 0.6;
}

.assist-task-completed .assist-task-list-item-date {
  background: var(--color-primary);
  color: #ffffff;
}

.assist-task-list-toggle-show {
  cursor: pointer;
  margin-top: 10px;
  color: var(--color-primary);
  font-size: 16px;
  font-family: "Roboto Slab";
  background: none;
  border: none;
  outline: none;
}

/* Accordion: Documents Grid */

.assist-doc-grid-root {
  margin-top: 20px !important;
}

.assist-doc-grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.assist-doc-grid-item-icon > img {
  height: 50px;
}

.assist-doc-grid-item-text-wrapper {
  margin-left: 20px;
}

.assist-doc-grid-item-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Gilroy";
}

.assist-doc-grid-item-subheading {
  font-size: 14px;
  opacity: 0.6;
}

/* Side Drawer: Add Task */

.assist-add-task-drawer-subheading {
  margin-top: -10px;
}

.assist-add-task-drawer-main {
  margin-top: 40px;
  margin-bottom: 30px;
  flex: 1 1 auto;
}

.assist-add-task-drawer-form-field-group {
  display: flex;
  margin-top: 20px;
}

.assist-add-task-drawer-form-field-group > svg {
  margin-top: 15px;
}

.assist-add-task-drawer-form-field-group > div {
  flex: 1 1 auto;
  margin-left: 15px;
}

.assist-add-task-drawer-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 12px;
  background: #ffffff;
  padding: 20px;

  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* Initial Consultation */

.assist-accordion-profile-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px 0 20px !important;
  color: #707070;
}

.assist-accordion-profile-name {
  margin: 10px 0;
  font-size: 22px;
  font-family: "Roboto Slab";
  font-weight: bold;
}

.assist-accordion-profile-mail {
  margin: 15px 0;
  font-size: 17px;
  text-align: center;
  font-family: "Roboto Slab";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.assist-accordion-profile-phone {
  margin: 15px 0;
  font-size: 17px;
  text-align: center;
  font-family: "Roboto Slab";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.assist-accordion-icon-div {
  width: 40px;
  height: 40px;
  display: flex;
  color: #707070;
  border-radius: 50%;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

.assist-accordion-ques-list {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #7070704d;
}

.assist-accordion-ques-div {
  display: flex;
  margin: 0 0 30px 60px;
  align-items: center;
}

.assist-accordion-ques {
  margin: 0 35px;
  font-size: 21px;
  color: #706ee8;
  font-family: "Roboto Slab";
}

.assist-accordion-ans {
  margin-left: 10px;
  font-size: 18px;
  color: #707070;
  padding: 5px 25px;
  border-radius: 2em;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.16);
}

/* Question Modal: Find Home */

.assist-question-modal {
  padding: 5px;
}

.assist-question-modal-heading {
  color: #000000;
  font-size: 45px;
  text-align: left;
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-family: "Roboto Slab";
}

.assist-question-modal-subheading {
  color: #707070;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assist-question-modal-subheading-dot {
  font-size: 22px;
  color: #707070;
  margin-left: 20px;
  display: flex;
}

.assist-question-modal .modal-close-btn {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
}

.assist-question-modal-progress {
  margin: 40px 30px;
  height: 5px !important;
  border-radius: 2em !important;
  background-color: #00000033 !important;
}

.assist-question-modal-progress .MuiLinearProgress-determinate {
  background-color: #00000033 !important;
}

.assist-question-modal-question {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #707070;
}

.assist-question-modal-answer {
  display: flex;
  color: #707070;
  margin: 30px 35px;
}

.assist-question-modal-btn {
  padding: 18px 40px !important;
  font-size: 18px !important;
  font-weight: normal !important;
  font-family: "Segoe UI", sans-serif !important;
}
