body {
  background-color: #eeeeee;
}

.dashboard-img {
  height: 35vh;
  margin-top: 20px;
  width: auto;
}

.dashboard-heading {
  font-size: 30px;
  font-family: "Roboto Slab";
  font-weight: bolder;
}

.transaction-list {
  padding-bottom: 20px !important;
}

.dashboard-invite-input-helper-text {
  font-family: "Roboto Slab" !important;
  font-weight: normal !important;
  font-size: 14px !important;
  opacity: 60% !important;
}

.dashboard-invite-or-divider {
  display: flex;
  justify-content: center;

  font-family: "Gilroy";
  font-size: 18px;
  opacity: 0.6;
}

.dashboard-invite-or-divider > div {
  position: relative;
}

.dashboard-invite-or-divider > div::before,
.dashboard-invite-or-divider > div::after {
  content: '';
  width: 125px;
  height: 2.5px;
  background-color: #707070;
}

.dashboard-invite-or-divider > div::before {
  position: absolute;
  top: 10px;
  left: -140px;
}

.dashboard-invite-or-divider > div::after {
  position: absolute;
  top: 10px;
  left: 45px;
}

.dashboard-invite-info-icon {
  color: #2b56ff;
  margin-top: 3px;
}

.dashboard-invite-info-text {
  color: #2b56ff !important;
  font-family: "Gilroy" !important;
  font-weight: normal !important;
  font-size: 17.5 !important;
}

.dashboard-invite-send-icon {
  margin-bottom: 1px;
  margin-left: 10px;
}

.dashboard-search-bar {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 8px !important;
}

.dashboard-search-icon {
  align-self: center !important;
  fill: rgba(0, 0, 0, 0.5);
}
