.transaction-card-item {
  min-height: 296px;
}

.transaction-card {
  border-radius: 10px !important;
}

.Big-Button {
  background-color: #bdbdbd !important;
  color: white !important;
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 13px !important;
  border-radius: 10px !important;
}
