.tasks-dashboard-list {
  margin: 20px 0 15px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks-dashboard-list-item {
  padding: 8px 0 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) !important;
}

.tasks-text {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  color: var(--color-dark-grey);
  margin-top: 10px;
}

.tasks-dashboard-list-item-header > .MuiAccordionSummary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tasks-dashboard-accordion-date {
  border-radius: 10px;
  background: #bdbdbd;
  color: #ffffff;
  padding: 5px 0;
  margin-right: 15px;
  text-align: center;
  width: 27%;
  font-size: 14px;
}

.tasks-dashboard-list-item-header-text-group {
  width: 175px;
  display: flex;
  flex-direction: column;
}

.tasks-dashboard-list-item-heading {
  font-family: "Segoe", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.tasks-dashboard-list-item-subheading {
  font-family: "Segoe", sans-serif !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

.tasks-dashboard-task-list-item-details {
  display: flex !important;
  flex-direction: column !important;
}

.tasks-dashboard-task-list-item-details-desc {
  margin-bottom: 20px !important;
  font-family: "Segoe", sans-serif !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

.tasks-dashboard-task-list-item-actions-group {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  margin-bottom: 10px;
}
