.tasks-dashboard-heading {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 36px;
  color: var(--color-dark-grey);
  margin-top: 30px;
}

.tasks-dashboard-section-title {
  margin-top: 20px !important;
  font-size: 25px;
  margin: 20px 0 15px 0 !important;
  color: var(--color-dark-grey);
}

.tasks-dashboard-list {
  margin: 20px 0 15px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks-dashboard-list-item {
  padding: 8px 0 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) !important;
  margin-top: 1px;
}

.tasks-text {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  color: var(--color-dark-grey);
  margin-top: 10px;
}

.tasks-dashboard-list-item-header > .MuiAccordionSummary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tasks-dashboard-accordion-date {
  border-radius: 10px;
  background: #bdbdbd;
  color: #ffffff;
  padding: 8px 3px 8px 3px;
  margin-right: 15px;
  text-align: center;
  width: 27%;
  font-size: 14px;
}

.tasks-dashboard-list-item-header-text-group {
  width: 175px;
  display: flex;
  flex-direction: column;
}

.tasks-dashboard-list-item-heading {
  font-family: "Segoe", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.tasks-dashboard-list-item-subheading {
  font-family: "Segoe", sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
}

.tasks-dashboard-task-list-item-details {
  display: flex !important;
  flex-direction: column !important;
}

.tasks-dashboard-task-list-item-details-desc {
  margin-bottom: 20px !important;
  font-family: "Segoe", sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.tasks-dashboard-task-list-item-actions-group {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  margin-bottom: 10px;
}
.task-summary-btn {
  font-size: 14px;
}

@media screen and (max-height: 750px) {
  .tasks-dashboard-heading {
    font-size: 33px;
    margin-top: 15px;
  }

  .tasks-dashboard-section-title {
    font-size: 22px;
    margin: 20px 0 8px 0 !important;
  }

  .tasks-dashboard-list {
    margin: 10px 0 10px 0 !important;
    gap: 18px;
  }

  .tasks-dashboard-accordion-date {
    border-radius: 10px;
    margin-right: 14px;
    padding: 8px 1px;
    font-size: 13px;
    width: 27%;
  }
}

@media screen and (max-height: 700px) {
  .tasks-dashboard-heading {
    font-size: 30px;
    margin-top: 10px;
  }

  .tasks-dashboard-section-title {
    font-size: 21px;
    margin: 18px 0 0px 0 !important;
  }

  .tasks-dashboard-list-item-subheading {
    font-size: 12px !important;
    font-weight: normal !important;
  }

  .tasks-dashboard-list-item-heading {
    font-size: 13px;
  }

  .tasks-dashboard-task-list-item-details-desc {
    margin-bottom: 20px !important;
    font-size: 13px !important;
  }
}
