html {
  background: linear-gradient(#7c67e8 0%, #16b3ef 100%);
  height: 100%;
}

#logo1 {
  margin-left: 40vw;
  margin-top: 5vh;
  background: transparent;
}

#content1 {
  margin-left: 40vw;
  margin-top: 5vh;
  background: transparent;
  color: white;
  font-size: 25px;
}

#button1 {
  color: blue;
  background: white;
  margin-left: 40vw;
  margin-top: 15vh;
  width: 20vw;
  height: 5vh;
}

#arrow-icon1 {
  color: white;
  background: transparent;
  margin-left: -1vh;
  margin-top: 2vh;
}

/* media query for responsive designs */

/* for phones  */

@media only screen and (max-width: 600px) {
  html {
    width: 100%;
    height: 100%;
  }

  #logo1 {
    margin-left: 20vw;
    margin-top: -1vh;
  }

  #content1 {
    font-size: 1.5em;
    margin-left: 12vw;
    margin-top: -0.5vh;
  }

  #button1 {
    width: 75%;
    margin-left: 12vw;
  }
}

/* for i-pads and tablets */

@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    width: 100%;
    height: 100%;
  }

  #logo1 {
    margin-left: 35vw;
  }
  #content1 {
    margin-left: 25vw;
    font-size: 2em;
  }

  #button1 {
    width: 60vw;
    margin-left: 25vw;
  }
}
