.roadmap {
  padding: 20px 30px !important;
  background: var(--color-white);
}

.roadmap-heading {
  text-align: left !important;
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 38px !important;
  color: var(--color-dark) !important;
}

.roadmap-subheading {
  text-align: left !important;
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 28px !important;
  color: var(--color-dark) !important;
}

.roadmap-desc {
  font-family: "Roboto Slab";
  font-size: 18px;
  color: var(--color-dark) !important;
  margin-left: 15px !important;
  margin-bottom: 20px !important;
}

.roadmap-date {
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  color: var(--color-white) !important;
  background-color: #0000003d !important;
  margin-left: 15px !important;
  margin-right: 30px !important;
  padding: 11px 18px !important;
}

.roadmap-next-icon {
  color: var(--color-white);
}

.step-completed-icon {
  background-color: #2855ff !important;
  color: #2855ff !important;
}

.step-icon {
  background-color: #919191 !important;
  color: #ffffff !important;
}

.roadmap-next-btn {
  background-color: #2855ff !important;
  color: #ffffff !important;
}

.connector-line {
  border-left: 6px solid #ffffff;
  height: 60px;
}
