.roadmap {
  padding: 20px 20px !important;
  background: var(--color-white);
}

.roadmap-heading {
  text-align: left !important;
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 35px !important;
  color: var(--color-dark) !important;
  padding-left: 10px;
}

.roadmap-subheading {
  text-align: left !important;
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 22px !important;
  color: var(--color-dark) !important;
  padding-left: 10px;
}

.roadmap-desc {
  font-family: "Roboto Slab";
  font-size: 15px;
  color: var(--color-dark) !important;
  margin-left: 15px !important;
  margin-bottom: 20px !important;
  padding-left: 10px;
}

.roadmap-date {
  font-family: "Gilroy Extrabold" !important;
  font-weight: bold !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  color: var(--color-white) !important;
  background-color: #0000003d !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding: 7px 18px !important;
}

.roadmap-next-icon {
  color: var(--color-white);
}

.step-completed-icon {
  background-color: #2855ff !important;
  color: #2855ff !important;
}

.step-icon {
  background-color: #919191 !important;
  color: #ffffff !important;
}

.roadmap-next-btn {
  background-color: #2855ff !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
  color: #ffffff !important;
}

.step-desc {
  margin-left: 5px !important;
  border-left: 6px solid #d3d3d3 !important;
}

.MuiStepConnector-line {
  margin-left: 5px !important;
  border-left: 6px solid #d3d3d3 !important;
}

.MuiStepContent-root {
  margin-top: 0px !important;
  margin-left: 17px !important;
}

.MuiStepConnector-vertical {
  padding: 0px !important;
}

.MuiStepConnector-lineVertical {
  height: 50px !important;
}
