.roadmap-heading {
  text-align: left !important;
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 36px !important;
  color: var(--color-dark-grey) !important;
}

.roadmap-subheading {
  text-align: left !important;
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 22px !important;
  color: var(--color-dark) !important;
  padding-left: 10px;
}

.roadmap-desc {
  font-family: "Roboto Slab";
  font-size: 15px;
  color: var(--color-dark) !important;
  margin-left: 15px !important;
  margin-bottom: 20px !important;
  padding-left: 10px;
}

.roadmap-date {
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  color: var(--color-white) !important;
  background-color: #0000003d !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding: 7px 18px !important;
}

.roadmap-single-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  min-height: calc(100vh - 360px);
}

.roadmap-avatar {
  height: 80px !important;
  width: 80px !important;
  margin-left: 20px;
}

.roadmap-fab-btn {
  width: 35px !important;
  height: 35px !important;
  margin-top: -30px !important;
  margin-left: 70px !important;
  position: absolute !important;
}

.roadmap-stepper {
  padding: 10px 0 10px 10px !important;
}

.roadmap-next-icon {
  color: var(--color-white);
}

.step-completed-icon {
  background-color: #2855ff !important;
  color: #2855ff !important;
}

.step-icon {
  background-color: #919191 !important;
  color: #ffffff !important;
}

.roadmap-next-btn {
  background-color: #2855ff !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
  color: #ffffff !important;
}

.step-desc {
  margin-left: 7px !important;
  border-left: 6px solid #d3d3d3 !important;
}

.MuiStepConnector-line {
  margin-left: 7px !important;
  border-left: 6px solid #d3d3d3 !important;
}

.MuiStepContent-root {
  margin-top: 0px !important;
  margin-left: 19px !important;
}

.MuiStepConnector-vertical {
  padding: 0px !important;
}

.MuiStepConnector-lineVertical {
  height: 50px !important;
}

.profile-edit {
  background-image: url("../../assets/ProfileEditImg.svg");
  background-position: left;
  background-position-y: -8px;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh; /* Setting the height to be 100% */
}

.profile-img-div {
  height: 175px;
  display: flex;
  padding-right: 60px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/ProfileImageBg.svg");
}

.profile-fab-btn {
  width: 35px !important;
  height: 35px !important;
  cursor: default !important;
  margin-top: 80px !important;
  margin-left: 70px !important;
  position: absolute !important;
}

.profile-label {
  font-family: "Segoe UI", sans-serif;
  margin-top: 12px;
  margin-left: 5px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #545252;
}

.profile-input {
  color: #999999;
}

.profile-submit-btn {
  margin-top: 3vh;
  margin-bottom: 1.5vh;
}

.profile-edit-avatar {
  height: 110px !important;
  width: 110px !important;
}

/*Roadmap section supported for screen sizes less than 750 */
@media screen and (max-height: 750px) {
  .profile-edit {
    background-position-y: -25px;
    background-size: 100vw;
    height: 100vh; /* Setting the height to be 100% */
  }

  .profile-submit-btn {
    margin-top: 3vh;
    font-size: 17px;
  }

  .profile-signout-btn {
    font-size: 17px;
    margin-bottom: 1vh;
  }

  .profile-input {
    height: 20px !important;
  }

  .profile-label {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 13px;
  }

  .profile-edit-avatar {
    height: 95px !important;
    width: 95px !important;
  }

  .profile-img-div {
    margin-top: -10px;
    height: 160px;
    display: flex;
    padding-right: 60px;
  }
}

/*Roadmap section supported for screen sizes less than 700 */
@media screen and (max-height: 700px) {
  .roadmap-subheading {
    font-size: 19px !important;
    padding-left: 10px;
  }
  .roadmap-desc {
    font-size: 14px;
    margin-left: 15px !important;
    margin-bottom: 13px !important;
    padding-left: 10px;
  }
  .roadmap-date {
    font-size: 13px !important;
    border-radius: 10px !important;
    margin-left: 13px !important;
    margin-right: 13px !important;
    padding: 7px 15px !important;
  }
  .roadmap-next-btn {
    height: 35px !important;
    width: 35px !important;
    border-radius: 100%;
  }
  .roadmap-avatar {
    height: 70px !important;
    width: 70px !important;
    margin-left: 15px;
  }
  .roadmap-heading {
    font-size: 33px !important;
  }
  .roadmap-fab-btn {
    width: 28px !important;
    height: 28px !important;
    margin-top: -28px !important;
    margin-left: 60px !important;
  }
  .roadmap-stepper {
    padding: 3px 0 0px 8px !important;
  }

  .profile-edit-avatar {
    height: 90px !important;
    width: 90px !important;
  }

  .profile-img-div {
    height: 150px;
    padding-right: 60px;
  }

  .profile-label {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .profile-edit {
    background-position-y: -50px;
    background-size: 100vw;
    height: 100vh; /* Setting the height to be 100% */
  }

  .profile-submit-btn {
    margin-top: 3vh;
    font-size: 15px;
  }

  .profile-signout-btn {
    font-size: 15px;
    margin-bottom: 1vh;
  }
}
