.questionnaire-root {
  position: relative;
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.questionnaire-single-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35vh;
  min-height: 100vh - 360px;
}

.questionnaire-back-button {
  position: absolute;
  top: 25px;
  left: 15px;
}

.questionnaire-main-container {
  flex: 1 1 auto;
}

.questionnaire-main-container-single-view-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionnaire-text {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 25px !important;
  text-align: center;
  color: #fff;
  margin-top: 15% !important;
}

.questionnaire-header-group {
  margin-top: 50px;
  margin-bottom: 15px;
}

.questionnaire-question {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 35px;
}

.questionnaire-helper-text {
  padding-top: 20px;
  font-family: "Open Sans";
  opacity: 60%;
  font-size: 18px;
}

.questionnaire-form-group {
  margin-top: 30px !important;
}

.questionnaire-option-item {
  align-content: unset !important;
  justify-content: left !important;
  padding: 15px 30px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: var(--color-primary) !important;
  text-transform: none !important;
  font-size: 20px !important;
}

.questionnaire-option-item > span:nth-child(1) {
  display: flex;
  gap: 20px;
}

.questionnaire-option-item:disabled {
  opacity: 50%;
}

.reallos-gradient-bg .questionnaire-option-item {
  color: var(--color-white) !important;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.questionnaire-arrow-button {
  background-color: var(--color-primary) !important;
  padding: 20px !important;
  color: var(--color-white);
}

.reallos-gradient-bg .questionnaire-arrow-button {
  background-color: rgba(255, 255, 255, 0.4) !important;
  color: var(--color-primary) !important;
}

.questionnaire-arrow-button svg {
  color: var(--color-white) !important;
}

.questionnaire-arrow-button:disabled {
  opacity: 50%;
}

.questionnaire-hero-img {
  margin-top: 100px !important;
  width: 200px;
}

.questionnaire-action-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.questionnaire-action-nav-area {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
}

.questionnaire-action .reallos-button-child-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.questionnaire-progress-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.reallos-gradient-bg .questionnaire-progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
}

.reallos-gradient-bg .questionnaire-progress-bar > div {
  background-color: var(--color-white);
}

@media screen and (max-height: 750px) {
  .questionnaire-question {
    font-family: Gilroy;
    font-weight: normal;
    font-size: 32px;
  }

  .questionnaire-helper-text {
    padding-top: 17px;
    font-family: "Open Sans";
    opacity: 60%;
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .questionnaire-text {
    font-family: Gilroy;
    font-weight: normal;
    font-size: 22.5px !important;
    text-align: center;
    color: #fff;
    margin-top: 10% !important;
  }

  .questionnaire-option-item {
    align-content: unset !important;
    justify-content: left !important;
    padding: 15px 30px !important;
    border-radius: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color: var(--color-primary) !important;
    text-transform: none !important;
    font-size: 16px !important;
  }

  .questionnaire-form-group {
    margin-top: 20px !important;
  }
}
