.Stepper {
  position: relative;
}

.Stepper__step {
  position: relative;
  display: table-cell;
  text-align: center;
  padding: 0.5rem;
}

.Stepper__info {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #e3e8ec;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 2;
}
