.signin-top-subheading {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.signin-top-heading-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signin-top-heading-group img {
  margin-right: -2vw;
}

.signin-top-heading {
  width: 65%;
}

.signin-top-heading h1 {
  margin: 0;
  font-size: 35px;
}

.signin-form {
  margin-top: 30px;
}

.signin-form > * {
  margin-top: 15px !important;
}

.signin-form > button {
  margin-top: 25px !important;
}

.signin-input > div {
  background-color: rgba(255, 255, 255, 0.2);
}

.social-signin-group {
  margin: 60px auto 50px auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.social-signin-group > button {
  padding: 35px;
}

.signin-no-account {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height: 740px) {
  .signin-top-subheading {
    font-size: 25px;
    margin: 3% 0 !important;
  }

  .signin-top-heading h1 {
    font-size: 28px;
  }

  .signin-top-heading-group img {
    width: 80%;
  }

  .signin-form {
    margin-top: 3%;
  }

  .signin-form > * {
    margin-top: 7% !important;
  }

  .social-signin-group {
    margin: 5% auto 5% auto;
    padding: 6%;
  }

  .social-signin-group > button {
    padding: 3%;
  }

  .signin-no-account {
    margin: 2%;
  }
}
