.documents-single-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 40px;
  min-height: calc(100vh - 360px);
}

.documents-single-view-container > img {
  width: 50%;
  margin-bottom: 50px;
}

.documents-heading {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 36px;
  color: var(--color-dark-grey);
  margin-top: 30px;
}

.documents-subheading {
  text-align: center;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 28px;
  color: var(--color-dark);
}

.documents-text {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  color: var(--color-dark);
  margin-top: 0;
}

.doc-searchbar {
  background-color: #ececec !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: var(--color-dark) !important;
  border: 1px solid #ffffff !important;
  border-radius: 10px !important;
  width: 100% !important;
}

.search-icon {
  color: var(--color-dark) !important;
}

.documents-heading-2 {
  margin-top: 20px !important;
  font-size: 25px;
  margin: 20px 0 15px 0 !important;
  color: var(--color-dark-grey);
}

.doc-divider {
  padding: 1px 0 !important;
  margin: 10px 0 !important;
}

.doc-card-root {
  position: relative;
}

.doc-card-root:hover .doc-card {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.doc-card {
  border-radius: 10px !important;
  border: 2px solid #dddddd;
  cursor: pointer;
}

.doc-card .MuiCardContent-root {
  padding-left: 20px;
  padding-right: 20px;
}

.doc-card-top-action-btn {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  background: #ffffff !important;
  box-shadow: 0 0 2px 0.5px #00000040;
}

.doc-card-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto Slab";
  font-size: 10px;
  color: #000000;
}

.doc-card-text {
  font-family: "Roboto Slab";
  font-size: 8px;
  color: #000000;
}

.doc-avatar {
  height: 15px !important;
  width: 15px !important;
}

.doc-card-context-menu-root {
  font-family: "Gilroy";
  padding: 0;
}

.doc-card-context-menu-root {
  padding: 10px 0 !important;
}

.doc-card-context-menu-header {
  padding-left: 30px;
  padding-right: 30px;
}

.doc-card-context-menu-header > h1 {
  margin-bottom: 10px;
}

.doc-card-context-menu-header .MuiAvatar-root {
  height: 30px;
  width: 30px;
}

.doc-card-context-menu-header > div {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
}

.doc-card-context-menu-actions-list {
  padding-top: 30px !important;
}

.doc-card-context-menu-actions-list li {
  font-size: 20px;
  padding: 20px 30px;
}

.no-document-img {
  height: 160px;
  padding-top: 10vh;
  padding-bottom: 60px;
}

.no-doc-heading {
  color: var(--color-dark);
  font-size: 33px;
}

.no-doc-body {
  padding: 20px 40px !important;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: var(--color-dark);
  font-size: 20px;
}

.no-doc-btn {
  margin-top: 10vh;
  width: 100% !important;
  padding: 10px 120px !important;
}

.no-documents-single-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 85%;
}

.no-document-back-icon {
  color: #707070;
}

/*Document support for components that are less than 750 in height*/
@media screen and (max-height: 750px) {
  .documents-single-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 40px;
    min-height: calc(100vh - 360px);
  }

  .documents-single-view-container > img {
    width: 40%;
    margin-bottom: 35px;
  }

  .documents-heading {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 33px;
    color: var(--color-dark-grey);
    margin-top: 15px;
  }

  .documents-heading-2 {
    font-size: 23px;
    color: var(--color-dark-grey);
  }

  .documents-subheading {
    text-align: center;
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 27px;
    color: var(--color-dark);
  }
  .documents-text {
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    color: var(--color-dark);
  }

  .doc-card-top-action-btn {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    background: #ffffff !important;
    box-shadow: 0 0 2px 0.5px #00000040;
  }

  .doc-card-root {
    width: 87%;
    height: 65%;
    padding-left: 5%;
  }

  .doc-card-context-menu-actions-list li {
    font-size: 20px;
    padding: 20px 30px;
  }

  .no-doc-heading {
    color: var(--color-dark);
    font-size: 28px;
  }

  .no-doc-body {
    padding: 15px 40px !important;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: var(--color-dark);
    font-size: 18px;
  }

  .no-document-img {
    height: 150px;
    padding-top: 10vh;
    padding-bottom: 60px;
  }
}

@media screen and (max-height: 700px) {
  .documents-subheading {
    text-align: center;
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 24px;
    color: var(--color-dark);
  }

  .documents-text {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    color: var(--color-dark);
  }

  .no-doc-heading {
    color: var(--color-dark);
    font-size: 25px;
  }

  .no-doc-body {
    padding: 15px 40px !important;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: var(--color-dark);
    font-size: 16px;
  }

  .no-doc-btn {
    margin-top: 5vh;
    width: 100% !important;
    padding: 10px 120px !important;
    font-size: 15px !important;
  }

  .doc-card-context-menu-actions-list li {
    font-size: 18px;
    padding: 20px 30px;
  }
}
