.reallos-button {
    font-family: "Gilroy" !important;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: none !important;
    letter-spacing: normal !important;
    padding: 15px 30px !important;
    border: none;
    outline: none;

    transition: all 150ms ease;
}

.reallos-button:not([disabled]):hover,
.reallos-button:not([disabled]):focus {
    transform: scale(1.04);
}

.reallos-button:not([disabled]):active {
    transform: scale(0.98);
    opacity: 0.8;
}

.reallos-button-dense {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.reallos-button[disabled] {
    cursor: default;
    opacity: 0.5;
}

/* GRADIENT VARIANT BUTTON STYLING */

.reallos-button-primary.reallos-button-variant-gradient {
    color: #ffffff;
    box-shadow: 0 8px 16px rgb(43, 68, 255, 0.3);
    background: linear-gradient(
        to right,
        var(--color-gradient-start),
        var(--color-gradient-stop)
    );
}

.reallos-button-secondary.reallos-button-variant-gradient {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    position: relative;
    color: var(--color-primary);
    border-radius: 10px;
    background: linear-gradient(
        to right,
        var(--color-gradient-start),
        var(--color-gradient-stop)
    );
}

.reallos-button-secondary.reallos-button-variant-gradient::before {
    z-index: -1;
    border-radius: 8px;
    content: '';
    display: flex;
    margin: 2.5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    background: #ffffff;
}

/* PRIMARY VARIANT BUTTON STYLING */

.reallos-button-primary.reallos-button-variant-primary {
    color: #ffffff;
    box-shadow: 0 8px 16px rgb(43, 68, 255, 0.3);
    background: var(--color-primary);
}

.reallos-button-secondary.reallos-button-variant-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: var(--color-primary);
    border: var(--color-primary) 2px solid;
    border-radius: 10px;
    background: transparent;
}

/* LIGHT VARIANT BUTTON STYLING */

.reallos-button-primary.reallos-button-variant-light {
    color: var(--color-primary);
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.1);
    background: #ffffff;
}

@supports (-webkit-background-clip: text) {
    .reallos-button-primary.reallos-button-variant-light:not(.reallos-button-no-auto-text-color)
    .reallos-button-child-wrapper {
        background: -webkit-linear-gradient(bottom, #16b2ee, #716ee8);
        background-attachment: fixed;
        background-size: 100vw 100vh;

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
}

/* @supports (background-clip: text) {
    .reallos-button-primary.reallos-button-variant-light:not(.reallos-button-no-auto-text-color)
    .reallos-button-child-wrapper {
        background-attachment: scroll;
    }
} */

.reallos-button-secondary.reallos-button-variant-light {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #ffffff;
    border: #ffffff 2px solid;
    border-radius: 10px;
    background: transparent;
}
