.signup-page-root {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 !important;
}

.signup-reallos-decoration {
  --reallos-decoration-border-radius: 20px;

  z-index: 0;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../../assets/reallos_home_bg.png);
  background-position: 30% center;
  background-size: cover;
  border-bottom-left-radius: var(--reallos-decoration-border-radius);
  border-bottom-right-radius: var(--reallos-decoration-border-radius);
}

.signup-reallos-decoration::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  border-bottom-left-radius: var(--reallos-decoration-border-radius);
  border-bottom-right-radius: var(--reallos-decoration-border-radius);

  background: linear-gradient(
    to bottom,
    var(--color-gradient-start),
    var(--color-gradient-stop)
  );
}

.signup-body-root {
  display: flex !important;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px 30px;
}

.signup-page-title > h1 {
  margin-bottom: 0;
}

.signup-page-title > h2 {
  margin-top: 5px;
  font-size: 20px !important;
  opacity: 0.55;
}

.signup-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.signup-form-fields > * {
  margin-top: 15px !important;
}

.signup-form-action-group {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.signup-form-action-group > * {
  flex: 1 1 auto;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
