.scanner-cross-button {
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 100%;
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  margin: 5% 0 0 5% !important;
}

.scanner-img-options-root {
  position: relative;
  display: flex;
  justify-content: center;
}

.scanner-single-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.scanner-camera-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.scanner-camera-button {
  border-radius: 100% !important;
}

.scanner-image-options-btn {
  position: absolute !important;
  background: #ffffff !important;
  box-shadow: 0 0 2px 0.5px #00000040;
  transform: translate(250%, 25%) !important;
  -ms-transform: translate(250%, 25%) !important;
}

.scanner-img {
  width: 40vh;
  height: 40vh;
  margin-bottom: 1vh;
  justify-self: center !important;
  align-self: center !important;
  border-radius: 5%;
}

.scanner-image-options-heading {
  font-size: 25px;
  margin-left: 2vh;
  margin-bottom: 5vh;
  font-weight: bold;
}

.scanner-image-options-option {
  font-size: 20px;
  margin-bottom: 3vh;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2vh;
  font-weight: bold !important;
}

.scanner-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scanner-no-access-img {
  height: 35vh;
  margin-top: 10vh;
}

.scanner-modal-heading {
  font-family: "Gilroy";
  font-size: 30px;
  margin-top: 2.5vh;
  color: var(--color-dark);
  text-align: center;
}

.scanner-modal-subtext {
  margin-top: 2.5vh;
  text-align: center;
  font-size: 23px;
  font-family: "Segoe UI";
  color: var(--color-dark-grey);
}

.scanner-back-btn {
  position: absolute !important;
  margin: 3vh 0 0 2vh !important;
}

.scanner-no-access-allow-btn {
  position: relative;
  margin: 5vh;
}

.scanner-start-scanning-img {
  height: 35vh;
  margin-top: 10vh;
}

.scanner-modal-sheet-div {
  height: 45vh;
  border-radius: 30px 30px 0px 0px;
  width: 100vw;
  margin-top: 15vh;
  box-shadow: 0px -2px 26px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-camera-options-btn {
  position: absolute !important;
  background: #ffffff !important;
  box-shadow: 0 0 2px 0.5px #00000040 !important;
  width: 9vh;
  height: 9vh;
}

.scanner-images-array {
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: scroll;
  height: 250vh;
  margin-top: 5vh;
  margin-bottom: -15vh;
}

.scanner-top-btns-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
  margin-top: 3vh;
}
