.App {
  text-align: center;
  height: 100vh;
  background-size:contain;
  background: linear-gradient(0deg, rgba(2,150,255,1) 0%, rgba(43,81,255,1) 99%);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 10px ;
  color : #0099ff;
  font-size: 16px;
  width: 70px;
  height : 25px;
  border-top-right-radius:35px;
  border-bottom-right-radius:35px;
  border-top-left-radius:35px;
  border-bottom-left-radius:35px; 
  box-shadow: 0px 15px 20px rgba(0,0,0,0.4)
}

#logo1{
  vertical-align: top;
  height: 200px;
  width: 335px;    
  padding-top: 0px;
  padding-right: 70px;
}
#logo2{
  vertical-align: top;
  height: 12px;
  width: 194px;
  padding-top: 4px;
  padding-left: 0px;
}

h2{
  font-weight: normal;
  color: white;
  text-align: center;
  font: Gilroy;
  font-size: 35;
  padding-top: 0px;
  margin-top: 0;
}

h1{
  font-weight: normal;
  color: white;
  text-align: center;
  padding-top: 200px;
  margin-top: 0;
  font: Gilroy;
  font-size: 39;
  padding-top: 10px;
}

/*img{
  height: auto;;
  width: 200px;
  font-size: 35;
}*/


