.Recommend{
  padding: 0.7rem;
}

.Recommend_x{
  padding-right: 0px;
  padding-bottom:1rem;
}

.Recommend_header{
  margin-top: 0px;
  margin-right: 40px;
  font-size: 5rem;
  font-family: "Gilroy Extrabold";
}

.Recommend_card_image img {
  object-fit: cover;
  vertical-align: middle;
}

.Recommend_cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: -1rem;

}

.Recommend_card {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: left;
}

.Recommend_card_content {
  padding: 0;
}

.Recommend_card_title {
  text-align: left;
  color: black;
  letter-spacing: 1px;
  text-transform:none;
  margin: 0px;
  font-family: "Gilroy Extrabold";
  font-weight:400;
}

.Recommend_card_interest {
  text-align: left;
  padding-left: 0.7rem;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.71rem;
  text-transform:none;
  line-height: 0;  
  font-weight: 400;
}

.Recommend_card_annual {
  text-align: left;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  color: black;
  text-transform:none;
  font-size: 0.71rem;
  font-family: "Open Sans", sans-serif;
  line-height: 0;
  margin-bottom: 1.3rem;    
  font-weight: 400;
}

.Recommend_from{  
  text-align: left;
  padding-left: 0.7rem;
  text-transform:none;
  padding-bottom: 0.3rem;
  color: black;
  font-size: 0.71rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin: 0px;
}

.Recommend_searchbar {
  width: 100%;
  background:  #D3D3D3;  
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.Recommend_searchTerm {
  width: 100%;
  border-right: none;
  background: #D3D3D3;  
  border-radius: 0.5rem;
  height: 1.2rem;
  border: none;
  outline: none;
  padding-top: 3px;
  padding-left: 10px;
  color: black;
  font-size: 1.2rem; 
  text-align: left;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.Recommend_searchTerm:focus{
  color: #696969;
  font-size: 1.2rem;
}

.Recommend_filter {
  width: 30px;
  height: 40px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  padding-right: 10px;
}

.Recommend_top {
  z-index: 1;
}

.Recommend_back{
  color: white;
}

.Recommend_top img{
  display: block;
  height: 20rem;
  width: 100%;
  object-fit: cover;
  margin: 0%;
  z-index: -1;
}

.Recommend_top .Recommend_back{
  position: absolute; top:1rem; left:1rem;
}

.Recommend_card_cont {
  display:block;
  padding: 1rem;
  align-content: center;
  margin-top: -3rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
}

.Recommend_card_name {
  color: black;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Gilroy Extrabold";
  font-weight: 300;
}

.Recommend_card_about{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  width: auto;
  font-weight: 300;
}

.Recommend_e-mailhead{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Gilroy Extrabold";
  width: auto;
  font-weight: 300;
}

.Recommend_e-mail{  
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #DCDCDC;
  border-radius: 1rem;
  width: auto;
  font-weight: 300;
}

.Recommend_contacthead{
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Gilroy Extrabold";
  width: auto;
  justify-content: space-between;
  font-weight: 300;
}

.Recommend_number{  
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #DCDCDC;
  border-radius: 1rem;
  width: auto;
  justify-content: space-between;
  font-weight: 300;
}

.Recommend_button_confirm{
  align-content: center;
  padding-top: 2rem;
}

.Recommend_button_confirm button{
  display: block;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(43, 68, 255, 0.3);
  background-color: #2B44FF;
  font-family: "Gilroy Extrabold";
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1.2rem;  
  border-radius: 1rem;
  text-align: center;
}




@media only screen and (min-width: 260px) {
     
  .Recommend_header {
    margin-top: 0px;
    margin-right: 40px;
    font-size: 1.5rem;
    padding-left: 1.8rem;
    font-family: "Gilroy Extrabold";
  }
  
  .Recommend_card_image img {
  height: 4.9rem;
  width: 6.5rem;
  } 
  
  .Recommend_cards {
  padding-right: 1rem;
  padding-left: 0.1rem;
  
  }
  
  .Recommend_card_title {
  padding-top: 0.77rem;
  padding-left: 0.77rem;
  font-size: 0.8rem;
  }
  
  .Recommend_card_interest {
  padding-left: 0.77rem;
  font-size: 0.5rem;
  line-height: 0; 
  }

  .Recommend_card_annual {
  padding-top: 0.55rem;
  padding-left: 0.77rem;
  font-size: 0.45rem;
  line-height: 0;
  margin-bottom: 1.3rem;   
  }

  .Recommend_from{  
  padding-left: 0.77rem;
  padding-bottom: 0.33rem;
  font-size: 0.45rem;
  font-weight: 300;
  }

  .Recommend_searchTerm { 
    border-radius: 0.5rem;
    height: 1.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 10px;
    font-size: 1.1rem; 
  }
  
  .Recommend_searchTerm:focus{
    font-size: 1.1rem;
  }

  .Recommend_card_name {
    font-size: 1.9rem;
    letter-spacing: 1px;
  }
  
  .Recommend_card_about{
    font-size: 1.0rem;
  }
  
  .Recommend_e-mail{  
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    font-size: 1.0rem;
  }
  .Recommend_number{  
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    font-size: 1.0rem;
  }
}

@media only screen and (min-width:310px) {
     
  .Recommend_header {
    margin-top: 0px;
    margin-right: 40px;
    font-size: 2rem;
    padding-left: 1rem;
    font-family: "Gilroy Extrabold";
  }

  .Recommend_card_image img {
  height: 6.6rem;
  width: 8rem;
  }
    
  .Recommend_cards {
  padding: 0;
  
  }
  
  .Recommend_cards_item {
  display: flex;
  padding: 0em;
  padding-bottom: 1rem;
  padding-left: 0.1rem;  
  }
  
  .Recommend_card_title {
  padding-top: 0.77rem;
  padding-left: 0.77rem;
  font-size: 0.8rem;
  }
  
  .Recommend_card_interest {
  padding-left: 0.77rem;
  font-size: 0.6rem;
  line-height: 0;
  }

  .Recommend_card_annual {
  padding-top: 0.55rem;
  padding-left: 0.77rem;
  font-size: 0.6rem;
  line-height: 0;
  margin-bottom: 1.3rem;    
  }

  .Recommend_from{  
  padding-left: 0.77rem;
  padding-bottom: 0.33rem;
  font-size: 0.6rem;
  }

  .Recommend_searchTerm {  
    border-radius: 0.5rem;
    height: 1.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 10px;
    font-size: 1.1rem; 
  }
  
  .Recommend_searchTerm:focus{
    font-size: 1.1rem;
  }
  }

  @media only screen and (min-width:360px) {
     
    .Recommend_header{
      margin-top: 0px;
      margin-right: 40px;
      font-size: 2rem;
      padding-left: 1rem;
      font-family: "Gilroy Extrabold";
    }
        
    .Recommend_card_image img {
    height: 7rem;
    width: 9rem;
    } 
    
    .Recommend_cards {
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    
    }
    
    .Recommend_cards_item {
    display: flex;
    padding: 0em;
    padding-bottom: 1rem;
    padding-left: 0.1rem;
    
    
    }
    
    .Recommend_card_title {
    padding-top: 0.77rem;
    padding-left: 0.77rem;
    font-size: 0.9rem;
    }
    
    .Recommend_card_interest {
    padding-left: 0.77rem;
    color: black;
    font: Open Sans;
    font-size: 0.65rem;
    line-height: 0;  
    font-weight: 300;
    }

    .Recommend_card_annual {
    padding-top: 0.55rem;
    padding-left: 0.77rem;
    color: black;
    font-size: 0.65rem;
    font: Open Sans;
    line-height: 0;
    margin-bottom: 1.3rem;    
    font-weight: 300;
    }

    .Recommend_from{  
    padding-left: 0.77rem;
    padding-bottom: 0.33rem;
    color: black;
    font-size: 0.65rem;
    font-weight: 300;
    font: Open Sans;
    letter-spacing: 1px;
    margin: 0px;
    }

    .Recommend_searchbar {
      width: 100%;
      background:  #D3D3D3;  
      border-radius: 0.5rem;
      position: relative;
      display: flex;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    .Recommend_searchTerm{
      width: 100%;
      border-right: none;
      background: #D3D3D3;  
      border-radius: 0.5rem;
      height: 1.8rem;
      border: none;
      outline: none;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-left: 10px;
      color: black;
      font-size: 1.2rem; 
      text-align: left;
      font-weight: 600;
      font: "Open Sans Bold";
    }
    
    .Recommend_searchTerm:focus{
      color: #696969;
      font-size: 1.2rem;
    }
    }

@media only screen and (min-width:400px) {
     
  .Recommend_header {
  margin-top: 0px;
  margin-right: 40px;
  font-size: 2.5rem;
  padding-left: 1rem;
  font-family: "Gilroy Extrabold";
}

.Recommend_card_image img {
height: 8rem;
width: 10.7rem;
}

.Recommend_cards {
padding: 0;

}

.Recommend_cards_item {
display: flex;
padding: 0em;
padding-bottom: 1rem;
padding-left: 0.1rem;
}

.Recommend_card_title {
padding-top: 0.77rem;
padding-left: 0.77rem;
font-size: 1rem;
}

.Recommend_card_interest {
padding-left: 0.77rem;
font-size: 0.7rem;
line-height: 0;  
}

.Recommend_card_annual {
padding-top: 0.55rem;
padding-left: 0.77rem;
font-size: 0.7rem;
line-height: 0;
margin-bottom: 1.3rem; 
}

.Recommend_from{  
padding-left: 0.77rem;
padding-bottom: 0.33rem;
font-size: 0.7rem;
}

.Recommend_searchTerm { 
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 10px;
  font-size: 1.5rem; 
}

.Recommend_searchTerm:focus{
  font-size: 1.5rem;
}
}

@media only screen and (min-width:500px) {
     
  .Recommend_header{
    margin-top: 0px;
    margin-right: 40px;
    font-size: 2.5rem;
    padding-left: 1rem;
    font-family: "Gilroy Extrabold";
  }
  
  .Recommend_card_image img {
  height: 10rem;
  width: 13.5rem;
  }
  
  .Recommend_cards {
  padding: 0;
  
  }
  
  .Recommend_cards_item {
  display: flex;
  padding: 0em;
  padding-bottom: 1rem;
  padding-left: 0.1rem;
  
  
  }
  
  .Recommend_card_title {
  padding-top: 0.77rem;
  padding-left: 0.77rem;
  font-size: 1.1rem;
  }
  
  .Recommend_card_interest {
  padding-left: 0.77rem;
  font-size: 0.8rem;
  line-height: 0;  
  font-weight: 300;
  }

  .Recommend_card_annual {
  padding-top: 0.55rem;
  padding-left: 0.77rem;
  font-size: 0.8rem;
  line-height: 0;
  margin-bottom: 1.3rem;
  }

  .Recommend_from{  
  padding-left: 0.77rem;
  padding-bottom: 0.33rem;
  font-size: 0.8rem;
  }

  .Recommend_searchTerm{ 
    border-radius: 0.5rem;
    height: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 10px;
    font-size: 1.2rem; 
  }
  
  .Recommend_searchTerm:focus{
    font-size: 1.5rem;
  }
  }

@media only screen and (min-width: 600px) {
   
  .Recommend_header {
  margin-top: 0px;
  margin-right: 40px;
  font-weight: 300;
  font-size: 2.5rem;
  font-family: "Gilroy Extrabold";
}

.Recommend_card_image img {
height: 13.27rem;
width: 16rem;
}

.Recommend_cards {
padding: 0;

}

.Recommend_cards_item {
display: flex;
padding: 0em;
padding-bottom: 1rem;
padding-left: 0.1rem;

}

.Recommend_card_title {
padding-top: 0.9rem;
padding-left: 0.9rem;
font-size: 1.3rem;
}

.Recommend_card_interest {
padding-left: 0.9rem;
font-size: 0.9rem;
line-height: 0;  
}

.Recommend_card_annual{
padding-top: 0.6rem;
padding-left: 0.9rem;
font-size: 0.9rem;
line-height: 0;
margin-bottom: 1.3rem;    
}

.Recommend_from{  
padding-left: 0.9rem;
padding-bottom: 0.4rem;
font-size: 0.9rem;
}

.Recommend_searchTerm{
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 10px;
  font-size: 1.5rem; 
}

.Recommend_searchTerm:focus{
  font-size: 1.5rem;
}
}


@media only screen and (min-width: 768px) {
 
  .Recommend_header{
  margin-top: 0px;
  margin-right: 40px;
  font-size: 3rem;
  font-family: "Gilroy Extrabold";
}

.Recommend_card_image img {
height: 16.2rem;
width: 22rem;
}

.Recommend_cards {
padding: 0;

}

.Recommend_cards_item {
display: flex;
padding: 0em;
padding-bottom: 1rem;
padding-left: 0.1rem;
}

.Recommend_card_title {
padding-top: 0.95rem;
padding-left: 0.95rem;
font-size: 1.3rem;
}

.Recommend_card_interest {
padding-left: 0.95rem;
font-size: 0.9rem;
line-height: 0;  
}

.Recommend_card_annual {
padding-top: 0.65rem;
padding-left: 0.95rem;
font-size: 0.9rem;
line-height: 0;
margin-bottom: 1.3rem; 
}

.Recommend_from{  
padding-left: 0.95rem;
padding-bottom: 0.45rem;
font-size: 0.9rem;
}

.Recommend_searchTerm { 
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 10px;
  font-size: 1.5rem; 
}

.Recommend_searchTerm:focus{
  font-size: 1.5rem;
}
} 


@media only screen and (min-width: 992px) {
  .Recommend_x{
    padding-right: 0px;
    padding-bottom:1rem;
    width: 3rem;
    height: 3rem;
    font-weight: 300;
  }

  .Recommend_header {
    margin-top: 0px;
    margin-right: 40px;
    font-size: 4rem;
    font-family: "Gilroy Extrabold";
    text-align: left;
    font-weight: 300;
  }
  
  .Recommend_card_image img {
  height: 20.6rem;
  width: 28rem;
  }
  
  .Recommend_cards {
  padding: 0;
  
  }
  
  .Recommend_cards_item{
  display: flex;
  padding: 0em;
  padding-bottom: 1rem;
  padding-left: 0.1rem;
  }
  
  .Recommend_card_title {
  padding-top: 0.98rem;
  padding-left: 0.98rem;
  font-size: 1.32rem;
  }
  
  .Recommend_card_interest {
  padding-left: 0.98rem;
  font-size: 1rem;
  line-height: 0;  
  }

  .Recommend_card_annual {
  padding-top: 0.7rem;
  padding-left: 0.98rem;
  font-size: 1rem;
  line-height: 0;
  margin-bottom: 1.83rem;  
  }

  .Recommend_from{  
  padding-left: 0.98rem;
  padding-bottom: 0.59rem;
  font-size: 0.98rem;
  }
  
  .Recommend_searchTerm {
    border-radius: 0.5rem;
    height: 2.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 10px;
    font-size: 1.5rem; 
  }
  
  .Recommend_searchTerm:focus{
    font-size: 1.5rem;
  } 
  } 
  

@media only screen and (min-width: 1200px) {
  
  .Recommend_x{
    padding-right: 0px;
    padding-bottom:1rem;
    width: 4rem;
    height: 4rem;
  }
  .Recommend_header {
      margin-top: 0px;
      margin-right: 40px;
      font-size: 5rem;
      font-family: "Gilroy Extrabold";
  }
  
  .Recommend_card_image img {
    height: 23.6rem;
    width: 32rem;
  }
  
  .Recommend_cards {
    padding: 1rem;
  
  }
  
  .Recommend_card_title{
    padding-top: 1.27rem;
    padding-left: 1.27rem;
    font-size: 1.5rem;
  }
  
  .Recommend_card_interest {
    padding-left: 1.27rem;
    font-size: 1.11rem;
    line-height: 0;  
  }

  .Recommend_card_annual {
    padding-top: 0.9rem;
    padding-left: 1.27rem;
    font-size: 1.11rem;
    margin-bottom: 1.3rem; 
  }

  .Recommend_from{  
    padding-left: 1.27rem;
    padding-bottom: 0.54rem;
    font-size: 1.11rem;
  }
  
  .Recommend_searchTerm {
    border-radius: 0.5rem;
    height: 2.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 10px;
    font-size: 1.5rem; 
  }
  
  .Recommend_searchTerm:focus{
    font-size: 1.5rem;
  } 
  }


@media only screen and (min-width: 1440px) {
  .Recommend_x{
    padding-right: 0px;
  }
  
  .Recommend_header{
      margin-top: 0px;
      margin-right: 40px;
      font-size: 6rem;
      font-family: "Gilroy Extrabold";
  }
  
  .Recommend_card_image img {
    height: 29.4rem;
    width: 40rem;
  }
  
  .Recommend_cards {
    padding: 1rem;
  
  }
  
  .Recommend_cards_item {
    display: flex;
    padding: 0em;
    padding-bottom: 1rem;
    padding-left: 0.1rem;
  
  
  }
  
  .Recommend_card_title {
    padding-top: 1.27rem;
    padding-left: 1.27rem;
    font-size: 1.5rem;
  }
  
  .Recommend_card_interest {
    padding-left: 1.27rem;
    font-size: 1.11rem;
    line-height: 0;
  }

  .Recommend_card_annual {
    padding-top: 0.9rem;
    padding-left: 1.27rem;
    font-size: 1.11rem;
    line-height: 0;
    margin-bottom: 1.3rem;
  }

  .Recommend_from{  
    padding-left: 1.27rem;
    padding-bottom: 0.54rem;
    font-size: 1.11rem;
  }

.Recommend_searchTerm { 
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 10px;
  font-size: 1.5rem; 
}

.Recommend_searchTerm:focus{
  font-size: 1.5rem;
} 
}