.taskSummary-back-icon {
  color: #707070;
}

.taskSummary-heading {
  font-size: 32px !important;
  font-weight: bold !important;
  color: #707070 !important;
  margin-bottom: 25px;
}

.taskSummary-subtext {
  font-family: "Segoe UI";
  font-size: 16px !important;
  color: #707070 !important;
}

.taskSummary-subheading {
  font-family: "Gilroy" !important;
  font-size: 24px !important;
  font-weight: bold !important;
  color: #474747 !important;
}

.taskSummary-list {
  margin: 5px 0 !important;
}

.taskSummary-list-item {
  padding: 15px 25px !important;
  margin-bottom: 12px !important;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 6px 0px rgba(69, 71, 70, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(69, 71, 70, 0.3);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(69, 71, 70, 0.3);
}

.taskSummary-lender-list {
  padding: 25px 10px 25px 20px !important;
  margin-bottom: 8px !important;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 5px 0px rgba(69, 71, 70, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(69, 71, 70, 0.3);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(69, 71, 70, 0.3);
}

.doc-list-title {
  font-family: "Segoe UI", sans-serif;
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #474747 !important;
}

.doc-list-title-use {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.doc-list-subtext {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px !important;
  color: #474747 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.taskSummary-list-subtext2 {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px !important;
  color: #474747 !important;
}

.taskSummary-Profession-list-title {
  font-weight: bold !important;
  font-size: 20px !important;
}

.taskSummary-Profession-btn {
  background-color: #2b44ff !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  text-transform: none !important;
  font-family: "Gilroy" !important;
  font-size: 13px !important;
  font-weight: bold !important;
  padding: 7px 20px !important;
}

.taskSummary-modal-heading {
  font-family: "Gilroy" !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.taskSummary-modal-text {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px !important;
}

.taskSummary-modal-btn {
  font-family: "Gilroy" !important;
  font-size: 17px !important;
  font-weight: bold !important;
  border: none !important;
  text-transform: none !important;
  color: #2b44ff !important;
}

.taskSummary-singleView-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 40px;
  min-height: calc(100vh - 360px);
}

.taskSummary-showMore {
  font-family: "Gilroy" !important;
  font-size: 17px !important;
  font-weight: bold !important;
  border: none !important;
  text-transform: none !important;
  color: #2b44ff !important;
}

.taskSummary-workdone-img {
  height: 35vh;
  margin-top: 10vh;
}

.taskSummary-workdone-heading {
  text-align: center;
  color: #707070 !important;
  font-size: 25px;
  margin-top: 5vh;
}

.taskSummary-workdone-subtext {
  font-family: "Segoe UI" !important;
  text-align: center;
  font-size: 19px;
  margin-top: 2vh;
}

@media screen and (max-height: 750px) {
  .taskSummary-workdone-img {
    height: 35vh;
    margin-top: 10vh;
    margin-left: 5vh;
  }
}

@media screen and (max-height: 700px) {
  .taskSummary-heading {
    font-size: 30px !important;
    margin-bottom: 20px;
  }

  .taskSummary-subtext {
    font-size: 14px !important;
  }

  .taskSummary-subheading {
    font-size: 22px !important;
  }

  .taskSummary-list-subtext2 {
    font-size: 13px !important;
  }

  .taskSummary-Profession-list-title {
    font-size: 19px !important;
  }

  .taskSummary-Profession-btn {
    font-size: 12px !important;
    padding: 7px 20px !important;
  }

  .doc-list-subtext {
    font-size: 13px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .taskSummary-showMore {
    font-size: 15px !important;
  }

  .taskSummary-workdone-img {
    height: 35vh;
    margin-top: 10vh;
    margin-left: 5vh;
  }
}
