.device-not-supported {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("../../assets/DeviceNotSupported.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.device-not-supported-heading {
  margin-top: 8vw;
  font-family: "Gilroy";
  font-weight: bold;
  text-align: center;
  font-size: 7.73vw;
  color: #707070;
}

.device-not-supported-text {
  margin: 2.67vw 10.67vw 32vw 10.67vw;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 5.33vw;
  color: #707070;
}
