.providers-heading {
  font-size: 34px !important;
  font-weight: bold !important;
  color: #474747 !important;
  margin-bottom: 25px;
}

.provider-card-root {
  position: relative;
  margin-top: 10px;
  border-radius: 10px !important;
  border: 2px solid #dddddd;
  padding: 20px 5px;
}

.provider-card-root:hover .provider-card {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.provider-card-head {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.provider-card-avtar {
  height: 65px !important;
  width: 65px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.provider-card-info {
  display: flex;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.provider-card-head-details {
  margin: 2px 0;
  font-size: 15px;
  text-align: left;
  color: #474747;
  display: flex;
  flex-direction: row;
  font-family: "Roboto Slab";
}

.provider-card-head-icon {
  color: #707070 !important;
  font-size: 20px !important;
  margin: 0 10px !important;
}

.provider-card-body {
  margin-top: 20px;
}

.provider-card-body-heading {
  padding-left: 7px;
  font-size: 15px;
  text-align: left;
  color: #4747479e;
  font-family: "Roboto Slab";
}

.provider-card-body-details {
  padding-left: 7px;
  font-size: 15px;
  text-align: left;
  color: #474747;
  font-family: "Roboto Slab";
}

.provider-card-body-icon {
  color: #707070 !important;
  font-size: 21px !important;
}

.provider-card-body-stars {
  color: #474747 !important;
  font-size: 17px !important;
}

.provider-card-body-btn {
  margin-top: 20px !important;
  width: 90% !important;
  padding: 10px 30px !important;
}

.provider-card-context-head {
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: #474747;
}

.provider-card-context-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
  margin: 35px 0;
}

.provider-card-context-text {
  margin-left: 15px;
  font-family: "Roboto Slab";
  font-size: 14px;
}

.provider-card-contect-btn {
  width: 100%;
  margin: 30px 0;
  font-size: 20px;
  cursor: pointer;
  color: #707070;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}
