@media only screen and (max-width: 600px) {
  .root-cc1 {
    overflow: hidden;
  }

  #cc1-pbar {
    width: 100%;
  }

  .cc1-heading {
    color: #000000;
    font-family: "Open Sans", "Segoe UI", Verdana, sans-serif;
    font-weight: normal;
    text-align: left;
    margin-top: 5vh;
  }

  .cc1-paragraph {
    color: rgba(0, 0, 0, 0.42);
    font-family: "Open Sans", "Segoe UI", Verdana, sans-serif;
    font-weight: normal;
    text-align: left;
  }

  .cc1-button1 {
    margin-top: 2.5vh;
    border: 0.5px solid rgba(0, 0, 0, 0.42);
  }

  .cc1-button2 {
    margin-top: 2.5vh;
    border: 0.5px solid rgba(0, 0, 0, 0.42);
  }

  .cc1-arrow-icon-1 {
    background-color: #2855ff;
    border-radius: 50%;
    color: white;
    margin-top: 30vh;
  }
}
