.cc3-paragraph {
  color: rgba(255, 255, 255, 0.8);
}

.cc3-button1,
.cc3-button2 {
  margin-top: 5vh;
  width: 25vw;
  background: rgba(255, 255, 255, 0.2);
}

.cc3-button2 {
  margin-top: 5vh;
}

.cc3-backicon,
.cc3-forwardicon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 4vw;
  height: 6vh;
  margin-top: 28vh;
}

.cc3-forwardicon {
  margin-left: 80vw;
}

@media only screen and (max-width: 600px) {
  #pre-cc3-pbar {
    width: 100%;
  }
  .cc3-paragraph {
    color: rgba(255, 255, 255, 0.8);
  }

  .cc3-button1,
  .cc3-button2 {
    margin-top: 5vh;
    width: 75vw;
    background: rgba(255, 255, 255, 0.2);
  }

  .cc3-button2 {
    margin-top: 5vh;
  }

  .cc3-backicon,
  .cc3-forwardicon {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 8vw;
    height: 4vh;
    margin-top: 28vh;
  }

  .cc3-forwardicon {
    margin-left: 65vw;
  }
}
