.child-container-1 > p {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.child-container-1 > Button,
#button2 {
  width: 25%;
  border: 1px solid grey;
  border-radius: 10px 10px 10px 10px;
  color: blue;
}

.child-container-1 > Button {
  margin-top: 5vh;
}

#button2 {
  margin-top: 2vh;
}

#arrow-icon-1 {
  background: blue;
  border-radius: 50%;
  width: 4vw;
  height: 6vh;
  color: white;
  margin-top: 25vh;
}
