.preaprooval-child-container-2 > p {
  margin-top: 5vh;
  color: darkgrey;
}

.cc2-textfield {
  width: 30vw;
}

.cc2-back-icon,
.cc2-forward-icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.cc2-forward-icon {
  margin-left: 80vw;
}
