.preaprooval-child-container-4 > img {
  margin-top: 5vh;
  margin-left: 35vw;
}

.preaprooval-child-container-4 > p {
  margin-top: 5vh;
  margin-left: 32vw;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .preaprooval-child-container-4 > img {
    margin-top: 10vh;
    margin-left: 16vw;
  }

  .preaprooval-child-container-4 > p {
    margin-top: 4vh;
    margin-left: 2vw;
    font-size: 24px;
    font-family: "Open Sans", "Segoe UI", Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
  }
}
