@media only screen and (max-width: 600px) {
  .preaprooval-child-container > img {
    margin-left: 15vw;
    margin-top: 10vh;
  }

  .preaprooval-child-container > p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 10vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .cc-reallosbutton {
    margin-left: 6vw;
    margin-top: 14vh;
    height: 6vh;
  }
}
